* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    color: #ff13d8;
    background-color: #11051e;
    line-height: 1.4;
    min-height: 100vh;
    font-size: 1.8rem;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    color: #ff13d8;
    font-size: 4.8rem;
    margin-top: 3rem;
}

@media (max-width: 425px) {
    .header {
        font-size: 4rem;
    }
}

.subheader {
    text-align: center;
    color: #f6e289;
    font-size: 2.4rem;
    padding: 0 2rem;
    margin-top: 1rem;
}

.post {
    color: #28e7c7;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    max-width: 360px;
}

.about {
    text-align: center;
    color: #ff13d8;
    font-size: 1.8rem;
    margin-top: 1rem;
    max-width: 340px;
}

.treatment {
    text-align: center;
    color: #f6e289;
    font-size: 1.8rem;
    margin-top: 3rem;
    max-width: 425px;
    border: 2px dashed #12d138;
    padding: .75rem 1.5rem;
    border-radius: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: #f6e289
}

h3 {
    color: #28e7c7;
    font-size: 1.8rem;
    margin-top: 1rem;
    text-align: center;
    max-width: 360px;
}

.calendly a {
    display: block;
    text-decoration: none;
    color: #f6e289;
    font-size: 2.4rem;
    margin-top: 3rem;
    border: 2px solid #ff13d8;
    padding: 1.5rem 2.75rem;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.copyright {
    text-align: center;
    font-size: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}